Source: adaptation-droidian-pipa
Maintainer: Ayman RGAB <aymanrgab@gmail.com>
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10),
               debhelper-compat (= 13),
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/aymanrgab/adaptation-droidian-pipa
Vcs-Git: https://github.com/aymanrgab/adaptation-droidian-pipa.git

Package: adaptation-droidian-pipa
Architecture: arm64
Depends: ${misc:Depends},
         linux-bootimage-xiaomi-pipa,
         adaptation-hybris-api33-phone,
         android-system-gsi-33,
         adaptation-pipa-configs (= ${binary:Version}),
         droidian-camera,
Description: Droidian adaptation for Xiaomi Pad 6 (pipa) - metapackage

Package: adaptation-pipa-configs
Architecture: arm64
Depends: ${misc:Depends},
Replaces: bluez,
Description: Droidian adaptation for Xiaomi Pad 6 (pipa) - configuration files
