[Unit]
Description=Restore backlight brightness

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 1
ExecStart=/bin/sh -c 'bl=$(cat /sys/class/backlight/panel0-backlight/bl_power 2>/dev/null); if [ "$bl" = "0" ]; then echo 2000 > /sys/class/backlight/panel0-backlight/brightness; fi'
