[Unit]
Description=Restore backlight brightness on display resume
After=sys-subsystem-backlight-panel0\x2dbacklight.device

[Service]
Type=simple
ExecStart=/usr/lib/droidian/device/backlight-restore.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
