[Unit]
Description=Restore backlight brightness

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'dpms=$(cat /sys/class/drm/card0-DSI-1/dpms 2>/dev/null); if [ "$dpms" = "On" ]; then echo 2000 > /sys/class/backlight/panel0-backlight/brightness; fi'
