[Unit]
Description=Restore backlight brightness
DefaultDependencies=no
After=systemd-udevd.service
After=sys-subsystem-backlight-panel0\x2dbacklight.device
Before=plymouth-start.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'while [ ! -w /sys/class/backlight/panel0-backlight/brightness ]; do sleep 0.1; done && echo 2000 > /sys/class/backlight/panel0-backlight/brightness'

[Install]
WantedBy=sysinit.target
