[Unit]
Description=Replace audio.primary.kona.so with HIDL compat HAL
After=android-mount.service
Before=sysinit.target
DefaultDependencies=false

[Service]
Type=oneshot
ExecStart=/bin/mount --bind /system/lib64/hw/audio.hidl_compat.default.so /vendor/lib64/hw/audio.primary.kona.so
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
